.blog__posts {
    @extend %no-style-list;
    width: 66%;

    h2 {
        margin-bottom: 0;
    }
}

.post__category {
    color: lighten($mineShaft, 60%);

    a:hover & {
        color: lighten($mineShaft, 70%);
    }
}

.blog__post__categories {
    width: 30%;
    float: right;
    background: $greenHaze;
    @include rem(padding, 1rem);

    h3 {
        @include rem(margin, 0 0 0.5rem);
    }
}

@media only screen and (max-width: 768px) {
    .blog__post__categories {
        width: 100%;
        float: none;
        @include rem(margin-bottom, 2rem);
    }

    .blog__posts {
        width: 100%;
    }
}

.categories__list {
    @extend %no-style-list;

    a {
        color: $gallery;

        &:hover {
            color: $mineShaft;
            background: transparent;
        }
    }
}


.advert {
    background: #eee;
    text-align: center;
    @include rem('padding', 1rem);
    @include rem('margin-bottom', 2rem);

    p {
        margin: 0;
    }
}

.categories {
    background: $greenHaze;
    border-top: 3px solid lighten($greenHaze, 3%);
    @include rem('padding', 1rem);
}

.blog__title {
    background: $candlelight;
    position: relative;
    z-index: -2;
    @include rem('padding', 1rem 0);

    h1 {
        z-index: 10;
        line-height: 1;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url('../img/backgrounds/blog-bg.jpg') repeat top left transparent;
        opacity: 0.1;
    }
}

.blog .blog__title {
    @include rem(margin-bottom, 2rem);
}

.blog__meta {
    @include rem('padding', 1rem 0);
    background: $candlelight;
    @include rem('margin-bottom', 2rem);

    p {
        margin: 0;
    }
}

.blog__article {
    @include rem(margin-bottom, 1rem);
}