.button,
.button:visited {
    @include inline-block();
    @include rem(padding, 0.5rem 1rem);
    @include rem(margin, 0.5rem);
    @include transition(all, 0.1s);
    
    box-shadow: 0.4em 0 0 0 rgba($greenHaze,0.3), -0.4em 0 0 0 rgba($greenHaze,0.3), 0 0.4em 0 0 rgba($greenHaze,0.3), 0 -0.4em 0 0 rgba($greenHaze,0.3);
    // icomoon
    background: url('../img/icons/arrow-right.png') right -20px no-repeat $greenHaze;
    color: $gallery;

    &:hover {
        @include rem(padding-right, 2rem);
        background: url('../img/icons/arrow-right.png') right 8px center no-repeat darken($greenHaze, 10%);
        box-shadow: 0.4em 0 0 0 rgba($greenHaze,0.9), -0.4em 0 0 0 rgba($greenHaze,0.9), 0 0.4em 0 0 rgba($greenHaze,0.9), 0 -0.4em 0 0 rgba($greenHaze,0.9);
    }

}


.button--secondary,
.button--secondary:visited {
    box-shadow: 0.4em 0 0 0 rgba($cobalt,0.3), -0.4em 0 0 0 rgba($cobalt,0.3), 0 0.4em 0 0 rgba($cobalt,0.3), 0 -0.4em 0 0 rgba($cobalt,0.3);
    background: url('../img/icons/arrow-right.png') right -20px no-repeat $cobalt;

    &:hover {
        background: url('../img/icons/arrow-right.png') right 8px center no-repeat darken($cobalt, 10%);
        box-shadow: 0.4em 0 0 0 rgba($cobalt,0.9), -0.4em 0 0 0 rgba($cobalt,0.9), 0 0.4em 0 0 rgba($cobalt,0.9), 0 -0.4em 0 0 rgba($cobalt,0.9);
    }
}

.icon {
    @include inline-block();
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    background-position: center center;
    background-color: transparent;
    background-repeat: no-repeat;
    margin: -2px 6px 0 0;
    vertical-align: middle;
}

.twitter {
    background-image: url('../img/icons/twitter.png');
}

.github {
    background-image: url('../img/icons/github.png');
}

.linkedin {
    background-image: url('../img/icons/linkedin.png');
}

.email {
    background-image: url('../img/icons/mail.png');
}
