.button,
.button:visited {
    @include inline-block();
    
    border-bottom: 2px solid darken($greenHaze, 10%);
    // border-right: 2px solid darken($greenHaze, 10%);
    // icomoon
    background: url('../img/icons/arrow-right.png') right -20px no-repeat $greenHaze;
    color: $gallery;
    @include rem('padding', 0.5rem 1rem);
    @include rem('margin-bottom', 1rem);
    @include transition(all, 0.1s);

    &:hover {
        background: url('../img/icons/arrow-right.png') right 8px center no-repeat darken($greenHaze, 10%);
        @include rem('padding-right', 2rem);
        // @include box-shadow(inset 0 0 0 4px lighten($greenHaze, 3%));
        @include box-shadow(inset 0 0 0 4px darken($greenHaze, 7%));
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
    }
}

.icon {
    @include inline-block();
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    background-position: center center;
    background-color: transparent;
    background-repeat: no-repeat;
    margin: -2px 6px 0 0;
    vertical-align: middle;
}

.twitter {
    background-image: url('../img/icons/twitter.png');
}

.github {
    background-image: url('../img/icons/github.png');
}

.linkedin {
    background-image: url('../img/icons/linkedin.png');
}

.email {
    background-image: url('../img/icons/mail.png');
}
