.footer {
    // background: url('/img/tile.png') 0 0 repeat $mineShaft;
    background: url('/img/backgrounds/zwartevilt.png') 0 0 repeat $mineShaft;
    color: $gallery;
    padding: 1em 0;
}

.footer__container {
    @extend %grid;
    @extend %clearfix;
}
