* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid,
.about {
    @extend %grid;
}

html,
body {
    height: 100%;
}

body {
    background: white;
}


// background: http://zaucetech.com/fragmenter/
// width: 1660 dens 200
// height: 600 dens 45
// #d90a1a,#990712,#9C0713,#59040B,#BF0917
.intro {
    height: 50%;
    background: url('../img/backgrounds/bg.png') 0 0 no-repeat transparent;
    background-size: cover;
    text-align: center;
    display: table;
    width: 100%;
    @include rem('margin-bottom', 2rem);

    .mega {
        color: white;
        display: table-cell;
        vertical-align: middle;
        line-height: 1;
    }
}

.lt-ie9 {
    .mega {
        line-height: 120px;
    }
}

@media only screen and (max-width: 550px) {
    .mega {
        @include rem('font-size', 8rem);
    }
}

@media only screen and (max-width: 425px) {
    .mega {
        @include rem('font-size', 6rem);
    }
}

@media only screen and (max-width: 330px) {
    .mega {
        @include rem('font-size', 4rem);
    }
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
}

.browsehappy {
    background: $candlelight;
    text-align: center;
    @include rem(padding, 1rem);
}

.lt-ie9 {
    pre {
        background: $mineShaft;
    }
}