.nav {
    ul {
        @extend %no-style-list;
        @extend %clearfix;
    }

    li {
        width: 25%;
        float: left;
        text-align: center;
    }

    .nav__logo {
        text-align: left;
    }

    a,
    a:visited {
        color: $linkColour;
        display: inline-block;

        &:hover {
            background: transparent;
            color: $linkColour;
            text-decoration: none;

            .nav__highlight {
                @include transform(scale(1, 1));
            }
        }
    }
    
    .nav__logo a {
        font-size: $headingGamma;
        color: $mineShaft;
        
        &:hover {
            color: $linkColour;
        }
    }
}



.nav__highlight {
    display: block;
    height: 3px;
    width: 100%;
    background-color: $candlelight;

    @include transition(all, 0.12s, ease-in-out);
    @include transform(scale(0, 1));
}

.nav__mobile-menu {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .nav {
        @include rem('padding', 0 1rem);
    }
}

@media only screen and (max-width: 500px) {

    .nav {
        li {
            display: none;
            width: 100%;
            text-align: center;
        }

        .nav__logo {
            text-align: center;
            display: block;
        }
    }

    .nav--active li {
        display: block;
    }

    .nav__mobile-menu {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-size: 2rem;
        color: $mineShaft;

        &:hover,
        &.active {
            color: $linkColour;
            background: transparent;
        }

        &:visited {
            color: $mineShaft;

            &:hover {
                color: $linkColour;
            }
        }
    }
}