.nav {
    ul {
        @extend %no-style-list;
        @extend %clearfix;
    }

    li {
        width: 25%;
        float: left;
        text-align: center;
    }

    

    a,
    a:visited {
        color: $linkColour;
        display: inline-block;

        &:hover {
            background: transparent;
            color: $linkColour;
            text-decoration: none;

            .nav__highlight {
                @include transform(scale(1, 1));
            }
        }
    }
    
    .nav__logo {
        text-align: left;
    
        a {
            @include inline-block();
            font-size: $headingGamma;
            color: $mineShaft;
            
            &:hover {
                color: $linkColour;
            }
        }

        .icon__logo {
            display: inline-block;
            width: 32px;
            height: 32px;
            background: url('../img/icons/logo-32.png') center center no-repeat transparent;
            margin-right: 10px;
            float: left;
        }
    }


}



.nav__highlight {
    display: block;
    height: 3px;
    width: 100%;
    background-color: $mineShaft;

    @include transition(all, 0.12s, ease-in-out);
    @include transform(scale(0, 1));
}

.nav__mobile-menu {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .nav {
        @include rem('padding', 0 1rem);
    }
}

@media only screen and (max-width: 500px) {

    .nav {
        li {
            display: none;
            width: 100%;
            text-align: center;
        }

        .nav__logo {
            text-align: center;
            display: block;
        }
    }

    .nav--active li {
        display: block;
    }

    .nav__mobile-menu {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-size: 2rem;
        color: $mineShaft;

        &:hover,
        &.active {
            color: $linkColour;
            background: transparent;
        }

        &:visited {
            color: $mineShaft;

            &:hover {
                color: $linkColour;
            }
        }
    }
}

.nav__logo a:hover {
    @include transform(rotate(-10deg) scale(1.2));

    .spin {
        @include animation('none');
    }
}

.spin {
    -webkit-transform-origin: center 55%;
    -moz-transform-origin: center 55%;
    -o-transform-origin: center 55%;
    transform-origin: center 55%;

    @include perspective(1200px);

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.spin-me-right-round {
    display: inline-block;
    @include animation('spin 8s 0 infinite ease');
}

.baby-right-round {
    display: inline-block;
    @include animation('twitch 8s 0 infinite linear');
}

@include keyframes(spin) {
    from {
        @include transform(rotateY(0deg));
    }

    to {
        @include transform(rotateY(-360deg));
    }
}

@include keyframes(twitch) {
    0% {
        @include transform(rotate(0deg));
    }

    20% {
        @include transform(rotate(10deg));
    }

    25% {
        @include transform(rotate(-20deg));
    }

    40%,
    45% {
        @include transform(rotate(180deg));
    }

    50% {
        @include transform(rotate(90deg));
    }

    65% {
        @include transform(rotate(-90deg));
    }

    70% {
        @include transform(rotate(-60deg));
    }

    75% {
        @include transform(rotate(-80deg));
    }

    85%,
    90% {
        @include transform(rotate(220deg));
    }

    93% {
        @include transform(rotate(180deg));
    }
}