.projects {
    @extend %clearfix;
    display: -webkit-box;
    /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
    display: -moz-box;
    /* OLD: Firefox (buggy) */
    display: -ms-flexbox;
    /* MID: IE 10 */
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
}

.project {

    .button,
    .button:visited {
      @include box-shadow(inset 0 0 0 4px darken($greenHaze, 3%));
    }
}


.project__name {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    background: transparent;
    color: #fff;
}

.project {
    @include box-sizing(border-box);
    width: 33.3%;
    min-height: 300px;
    float: left;
    text-align: center;
    padding: 0;
    @include perspective(1000);
    position: relative;
}

@media only screen and (max-width: 1000px) {
    .project {
        width: 33.2%;
    }
}

@media only screen and (max-width: 780px) {
    .project {
        width: 100%;
    }
}

.project:hover .project__flipper {
    @include transform(rotateY(180deg));
}

.project__front,
.project__back {
    width: 100%;
    min-height: 300px;
    @include backface-visibility(hidden);

    position: absolute;
    top: 0;
    left: 0;
}

.project__front {
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
}

.project__back {
  @include transform(rotateY(180deg));

  padding: 1em;
  background: $candlelight;
}

.project__flipper {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  @include transition(all, 450ms);
  position: relative;
}

/* CSS updated */
.navWrapper {
  margin: 0 0 1em;
  padding: 0;
  list-style-type: none;
  overflow: auto;
  text-align: center;
}

.navWrapper li {
  display: inline-block;
  margin-bottom: 0.5em;
}

.navWrapper a {
  display: block;
  padding: 0.5em 1em;
  background: #eee;
  border-radius: 2px;
  margin: 0 0.5em;
}

.navWrapper .selected,
#projects .navWrapper a:hover {
  background: $monza;
  color: white;
}

.projects__title {
  background: $cobalt;
  @include rem('padding', 1rem 0);

  h1 {
    color: white;
  }
}

.projects__meta {
  color: white;
  background: lighten($cobalt, 10%);
}