.projects {
    @extend %clearfix;
    display: -webkit-box;
    /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
    display: -moz-box;
    /* OLD: Firefox (buggy) */
    display: -ms-flexbox;
    /* MID: IE 10 */
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    // overflow: hidden;
}

.project__container {
  @include clearfix();
  width: 100%;
}

.project {
    .button,
    .button:visited {
      // @include box-shadow(inset 0 0 0 4px darken($greenHaze, 3%));
    }
}


.project__name {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    background: transparent;
    color: #fff;

    .project--dark & {
      color: $mineShaft;
    }
}

.project {
    @include box-sizing(border-box);
    width: 33.3%;
    min-height: 300px;
    float: left;
    text-align: center;
    padding: 0;

    // TODO: buggy atm
    // @include perspective(1000px);
    position: relative;
}

@media only screen and (max-width: 1000px) {
    .project {
        width: 33.2%;
    }
}

@media only screen and (max-width: 960px) {
  .project {
    width: 50%;
  }

  .home .project {
    width: 100%;
  }
}

@media only screen and (max-width: 780px) {
    .project {
        width: 100%;
    }
}

.project:hover .project__front {
    @include transform(rotateY(180deg));
}

.project:hover .project__back {
    @include transform(rotateY(0deg));
}

.project__front,
.project__back {
    width: 100%;
    min-height: 300px;
    @include backface-visibility(hidden);

    // transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;

    @include transition(all, 450ms);

    position: absolute;
    top: 0;
    left: 0;
}

.project__front {
    background-image: url('../img/backgrounds/project-placeholder.jpg');
    background-color: $cobalt;
    z-index: 2;
    @include transform(rotateY(0deg));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: table;
}

.project__back {
  @include transform(rotateY(-180deg));

  padding: 1em;
  background: $candlelight;
}

.project__flipper {
  min-height: 300px;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

  @include transition(all, 450ms);
  // transition: 0.6s;

  position: relative;
}

/* CSS updated */
.navWrapper {
  @extend %no-style-list;
  margin: 0 0 1em;
  overflow: auto;
  text-align: center;
  width: 100%;
}

.navWrapper li {
  @include inline-block();
  margin-bottom: 0.5em;
}

.navWrapper a {
  display: block;
  @include rem(padding, 0.5rem 1rem);
  background: $gallery;
  @include border-radius(3px);
  margin: 0 0.5em;
}

.navWrapper .selected,
#projects .navWrapper a:hover {
  background: $monza;
  color: white;
}

.projects__title {
  background: url('../img/backgrounds/project-banner.jpg') repeat top left $cobalt;
  @include rem('padding', 1rem 0);
  @include rem('margin-bottom', 1em);

  h1 {
    color: white;
  }
}


/* IE fallbacks */
.ie9,
.lt-ie9 {

  .project {
    @include rem(margin-bottom, 1rem);
    height: 650px;

    &__back,
    &__front {
      position: relative;
    }
  }
}
