@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 700;
  src: local('Exo Bold'), local('Exo-Bold'), url(http://themes.googleusercontent.com/static/fonts/exo/v2/RokIQ-knd7LT9uhmuUjL2g.woff) format('woff');
}
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 900;
  src: local('Exo Black'), local('Exo-Black'), url(http://themes.googleusercontent.com/static/fonts/exo/v2/vUUX2FySly3npcleKTbosw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}


/* ==========================================================================
   Typography
   ========================================================================== */

/* Base
   ========================================================================== */

html, 
button, 
input, 
select, 
textarea {
    @include px('font-size', ($baseFontSize * 1px)); 
    font-family: $baseFontFamily;
    color: $baseFontColour;
}

body {
    @include px('line-height', $baseLineHeight);
}

/* Headings
   ========================================================================== */

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: $headingFontFamily; 
    color: $headingColour;
    font-weight: bold;
}

h1, 
.alpha {
    @include px('font-size', $headingAlpha); 
}

.mega {
  @include px('font-size', 160px);
}

h2, 
.beta {
    @include px('font-size', $headingBeta);
}

h3, 
.gamma {
    @include px('font-size', $headingGamma);
}

h4, 
.delta {
    @include px('font-size', $headingDelta);
}

h5, 
.epsilon {
    @include px('font-size', $headingEpsilon);
}

h6, 
.zeta {
    @include px('font-size', $headingZeta);
}   

/* Links
   ========================================================================== */

a { 
   color: $linkColour; 
   background: transparent;
   text-decoration: none;
   font-weight: bold;
   @include transition(all, 0.1s);
}

a:hover { 
    background: $linkColour; 
    color: white;
    text-decoration: none;

    img {
        background: transparent;
    }
}

a:visited {
    color: $linkVisited;

    &:hover {
        color: white;
        background: $linkVisited;

        img {
            background: transparent;
        }
    }
}


a:focus { 
    outline: thin dotted; 
    color: $linkFocus; 
}

a:active { 
    color: $linkActive; 
}

p {
  @include rem('margin', 0 0 1.5rem);
}