/* Colours */

$purple: #5f049b;
$tulipTree: #eca935;
$electricViolet: #961de8;
$salem: #0b9b4a;
$dustyGrey: #999;

$greenHaze: #04b53f;
$mineShaft: #222;
$gallery: #efefef;
$monza: #d90a1a;
$candlelight: #ffde17;
$cobalt: #004BA6;


/* Typography  */

$baseFontSize: 16; // No px on this
$baseLineHeight: 28px; 
$baseFontFamily: 'Open Sans', Arial, Helvetica, sans-serif;
$baseFontColour: $mineShaft;

$headingFontFamily: 'Exo', Arial, Helvetica, sans-serif; 
$secondaryHeadingFontFamily: 'Open Sans Condensed', 'Open Sans', Arial, Helvetica, sans-serif; 
$headingColour: $mineShaft;

$headingAlpha:                  60px;
$headingBeta:                   24px;
$headingGamma:                  19px;
$headingDelta:                  16px;
$headingEpsilon:                13px;
$headingZeta:                   11px;

/* Links  */
$linkColour: $monza;
$linkVisited: lighten($linkColour, 10);
$linkHover: darken($linkColour, 20);
$linkActive: darken($linkColour, 20);
$linkFocus: darken($linkColour, 40);
