<!DOCTYPE HTML>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Copycat - HTML5 game</title>
    <meta name="description" content="Memory game in HTML5 - February entry for One Game a Month">
    <meta name="author" content="James Tease">
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" href="/favicon.ico">

    <script src="/static/js/libs/modernizr-2.5.3.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script>window.jQuery || document.write("<script src='/js/libs/jquery-1.7.1.min.js'>\x3C/script>")</script>

    <link rel="stylesheet" href="/static/copycat/css/main.css">

</head>
<body>
    <nav>
        <div class="container">
            <a href="/projects" title="Projects page">Back to projects page</a>
        </div>
        
    </nav>

    <div class="container" id="main">
        <h1>Copycat!</h1>
        
        <a href="#" id="play">Play</a>
        <span id="score"></span>

        <div class="hero-unit">
            <a href="#" class="character" id="red">Red</a>
            <a href="#" class="character" id="gold">Gold</a>
            <a href="#" class="character" id="purple">Purple</a>
            <a href="#" class="character" id="blue">Blue</a>
            <a href="#" class="character" id="green">Green</a> 
        </div>

        <div id="message"></div>
        <div class="user"></div>
        <div class="sequence"></div>
    </div>


    <script src="/static/copycat/js/main.js"></script>
    <script>
        var _gaq=[['_setAccount','UA-11627514-2'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

</body>
</html>
