{% extends "base.html" %}

{% block title %}{{post.title }} :: James Tease{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/prism.css">
{% endblock %}

{%block content %}
<main class="main">

    <header class="blog__title blog--javascript clearfix">
        <div class="grid">
            <h1>{{ post.title }}</h1>
        </div>
    </header>

    <aside class="blog__meta" role="complementary">
        <div class="grid">
            <p>Posted on {{ post.created }} in <a href="/blether/cat/{{ post.category.slug }}" title="{{ post.category }}">{{ post.category }}</a>.</p>
        </div>
    </aside>


	{% autoescape off %}
		<article class="blog__article grid" role="main">
			{{ post.content }}
		</article>			
	{% endautoescape %}
</main>


<aside class="categories" role="complementary">
    <div class="grid">
        <p>Posted on {{ post.created }} in <a href="/blether/cat/{{ post.category.slug }}" title="{{ post.category }}">{{ post.category }}</a>.</p>
        <a href="/blether/">&laquo; View all posts</a>
    </div>
</aside>

{% endblock %}

{% block scripts %}
<!--[if gt IE 8]><!--> 
<script src="/static/js/vendor/prism.js"></script>
<!--<![endif]-->

{% endblock %}